body {
  font-family: "PT Sans", sans-serif;
}

.alert-primary,
.alert-danger {
  padding-bottom: 0;
}

#meisterei-hero {
  /* background: linear-gradient(to top, #ffffffba, #ffffffba), url("https://wiki.realliferpg.de/images/9/98/Meisterei_vehicles.jpg") no-repeat top center; */
  background-image: url("https://strassenmeisterei-neuberg.de/assets/images/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(5px);
  color: #fff;
}

.db-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url("https://strassenmeisterei-neuberg.de/assets/images/fb37dashboard.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.error-box,
.db-box {
  padding: 100px;
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(12px);
  color: #fff;
}

.db-container button {
  background-color: #ec7c26;
  border-radius: 5px;
  border: 0;
  padding: 10px 20px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0.5rem 1rem rgba(236, 124, 38, 0.4);
}

.db-container button:hover {
  transform: scale(1.05);
  background-color: rgb(243, 135, 52);
}

#member-table tr,
#apply-status tr,
#apply-management tr {
  vertical-align: middle;
}
