#welcome-hero {
  background-image: url("https://strassenmeisterei-neuberg.de/assets/images/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

#unfinished-alert {
  --bs-alert-margin-bottom: 0;
}