#welcome-hero {
    background-image: url("https://forum.realliferpg.de/gallery/userImages/8d/33570-8df1a121.png");
    background-position: center;
    background-repeat: no-repeat;
}

#unfinished-alert {
    --bs-alert-margin-bottom: 0;
}

td.on {
    color: #0f470f;
    font-weight: bold;
}

td.off {
    color: #880f0f;
    font-weight: bold;
}